#container {
  width: 1000px;
  height: auto;
  margin: 0 auto;
}

header {
  width: 1000px;
  height: 150px;
  background-color: orange;
}

.banner {
  width: 1000px;
  height: 350px;
  background-color: black;
  margin: 10px 0;
}

main {
  width: 1000px;
  height: auto;
  background-color: brown;
}

aside {
  width: 300px;
  height: 250px;
  background-color: darkblue;
  float: left;
}

article {
  width: 690px;
  height: 250px;
  background-color: greenyellow;
  float: left;
  margin-left: 10px;
  margin-bottom: 10px;
}

footer {
  width: 1000px;
  height: 250px;
  background-color: cornflowerblue;
  clear: both;
}