* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Calibri', Helvetica, sans-serif;
}

header {
  width: 100%;
  position: fixed;
  
}

/* ###### MENU ###### */

nav {
  background-color: #e28f2e;
  font-size: 19px;
  height: 70px;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  float:left;
  margin-left: 15px;
  padding: 5px 10px;
  color: white;
  font-weight: bold;
  line-height: 3.2;
}

.menuimg {
  margin-left: 15px;
  margin-top: 10px;
  margin-right: 20px;
  margin-bottom: 25px;
  float: left;

}

nav ul .BOTAO:hover {
  background-color: rgba(255, 255, 255,0.2);
}

/* ##### CONTEÚDO ##### */

main {
 width: 1000px;
 margin: 0 auto;
 padding-top: 70px;
}

h1 {
  margin-bottom: 10px;
}

.banner {
  margin-bottom: 10px;
}

article {
  text-align: justify;
}

.fotoshome {
  float: left;
  width: 50%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

/* ###### RODAPÉ ###### */

footer {
  width: 100%;
  text-align: center;
  background-color:#e28f2e;
  color: white;
  padding: 25px 0px;
  clear: both;
}

footer a {
  text-decoration: none;
}

/* ##### SOBRE ##### */

.fotosobre {
  width: 20%;
  height: 160px;
  float: left;
}

.textosobre {
  width: 80%;
  height: 160px;
  float: left;
  margin-top: 10px;
}

/* ##### CONTATO ##### */

.info {
  width: 50%;
  height: auto;
  float: left;
  margin: 50px 0;
}

#formulario {
  width: 45%;
  height: auto;
  float: right;
  margin: 50px 0;
}

#formulario label {
  font-size: 14px;
}

#formulario div input {
  width: 100%;
  height: 25px;
  background-color: #fae5cc;
  border: 1px solid #f2c085;
}

#formulario div textarea {
  width: 100%;
  height: 70px;
  background-color: #fae5cc;
  border: 1px solid #f2c085;
  resize: none;
}

#formulario .BOTAO {
  width: 100px;
  height: 30px;
  color: white;
  float: right;
  font-size: 14px;
  margin: 15px 0 20px 15px;
}

#formulario #ENVIAR {
  background-color: darkgreen;
  border: #11c839;
  border-radius: 5px;
}

#formulario #LIMPAR {
  background-color: darkred;
  border: #d95f5f;
  border-radius: 5px;
}


/* ##### página de obrigado ##### */

#formulario h2 {
  text-align: center;
  color: #e28f2e;
  margin: 40px 0;
}

/* ##### GALERIA ##### */

figure.galeria {
  padding: 20px;
  text-align: center;
}

figure.galeria a img {
  padding: 10px;
}

figure.galeria a img:hover {
 box-shadow: 9px 7px 19px 5px rgba(0,0,0,0.1);
 height: 151px;
 width: 201px;
}