.wrapper{
  width:100%;
  padding-top: 20px;
  text-align:center;
}
h2{
  font-family:sans-serif;
  color:#fff;
}
.carousel{
  width:90%;
  margin:0px auto;
}
.slick-slide{
  margin:10px;
}
.slick-slide img{
  width:100%;
  border: 5px solid #fff;
}
.wrapper .slick-dots li button:before {
  font-size:20px!important;
  color:white;
}

/*Controle do Carrossel*/
.slick-dots { bottom:-25px!important; }

.slick-dots li.slick-active button::before { color: #ffffff!important; }
.slick-dots li button::before { color:#ffffff!important; font-size: 11px; }