body{
  background-color: rgb(184,14,14);
  color: #ffffff;
}

h1 {
  text-align: center;
  font-family: 'Calibri', Helvetica, sans-serif;
}

figure {
  text-align: center;
}

p {
  text-align: center;
}